.member-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(231, 233, 235);
    width: 700px;
    padding: 10px 0;
    // border-radius: 5px;
    position: relative;
    margin: 5px 0;
    .icon {
        position: absolute;
        left: 20px;
        font-size: 30px;
        display: flex;
        align-items: center;
        margin-right: 30px;
    }
    .info {
        margin-left: 100px;
        table {
            tbody {
                .col-1 {
                    width: 200px;
                    .category {
                        margin-right: 5px;
                    }
                }
                .col-2 {
                    width: 200px;
                    .amount {
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .button {
        height: 40px;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 25px;
        .edit {
            margin-right: 10px;
        }
        .delete {
            background-color: red;
            border-radius: 5px;
            border: 1px solid white;
            color: white;
            &:hover {
                background-color: rgb(185, 78, 78);
                cursor: pointer;
            }
        }
    }
}
